body { 
    /* background: url("https://images.pexels.com/photos/279009/pexels-photo-279009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") repeat 0 0;   */
    background: url("../img/back.jpg");
    margin: 0;
    padding: 0;
    padding-top: 25px;
}
.img-top {
    text-align: center;
}
.img-21 {
    width: 10%;
    margin: auto;
}
#area {
    border-radius: 15px;
    margin-top: 15px;
    margin: auto;
    width: 80%;
    padding: 15px 15px 15px 15px;
    opacity: 1;
    background-color: rgba(229, 231, 236, 0.5);
    text-align: center;
}
#area-buttons {
    margin-bottom: 50px;
}
#text-area {
    text-align: center;
    margin-top: 14px;
    
}
.carta {
    width: 90px;
    height: 130px;
    background-color: whitesmoke;
    margin: 5px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 47px;
    font-family: monospace;
}
.dealer {
    display: inline-flex;
    flex-direction: row;
}
.player {
    display: inline-flex;
}
label.suit {
    font-size: 350%;
}
.qtd-cartas {
    font-size: 45px;
    font-family: monospace;
}
.btn {
    padding: 10px 55px;
    margin: 5px;
    border-radius: 5px;
    border-style: none;
    width: 180px;
}
.btn-parar {
    background-color: rgb(194, 80, 80);
}
.btn-bater {
    background-color: rgb(128, 224, 133);
}
.end-game-p, .end-game-d  {
    color: red;
    font-size: 25px;
    color: red;
    font-size: 66px;
    font-weight: 900;
}
.who-and-score {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
@media (max-width: 600px) 
{   
    body {
        padding-top: 13px;
    }
    .img-21 {
        width: 19%;
        margin: auto;
    }
    #area {
        border-radius: 15px;
        margin: 5%;
        width: 80%;
        padding: 15px 15px 15px 15px;
        opacity: 1;
        background-color: rgba(229, 231, 236, 0.5);
        text-align: center;
    }
    .carta {
        width: 21%;
        height: 73px;
        background-color: whitesmoke;
        line-height: 26px;
        font-size: 15px;
        margin-top: 5px;
    }
    .dealer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .player {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .qtd-cartas {
        font-size: 28px;
    }
	label.suit {
		font-size: 200%;
	}
}



